.entry {
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 10px;
}

@media screen and (max-width: 1024px) {
    .entry {
        width: 90%;
    }
}

.entry input {
    margin: 5px 0;
}

button {
    margin: 5px;
}